@{
    ViewBag.Title = "Contact Us";
}
<h2>Contacts</h2>
<p>Don't call us</p>
<form method="post">
    <label>Your name:</label>
    <br/>
    <input name="name"/>
    <br/>
    <label>Email:</label>
    <br/>
    <input name="email" type="email"/>
    <br/>
    <label>Subject:</label>
    <br/>
    <input name="subject"/>
    <br/>
    <label>Message:</label>
    <br/>
    <textarea name="message" rows="4"></textarea>
    <br/>
    <input type="submit" value="Send Message"/>
</form>